@import "tailwindcss";

@theme {
  --color-primary: #02b290; /* Removed quotes */
  --color-secondary: #353535; /* Removed quotes */
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 8px !important;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #02b290;
}
::-webkit-scrollbar-track {
  background: #fff;
}

.container {
  width: 96%;
  margin: auto;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px;
  color: #02b290;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  @apply !bg-primary;
}
.swiper-button-prev:hover svg,
.swiper-button-next:hover svg {
  color: #fff !important;
}

.css-1qltlow-MuiTabs-indicator {
  background-color: #02b290 !important;
}
.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #02b290 !important;
  font-weight: 700;
}

.btn-border-g {
  border: 1px solid #02b290 !important;
  color: #02b290 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  width: 100% !important;
}
.btn-border-g:hover {
  background-color: #02b290 !important;
  color: #fff !important;
  border: none !important;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.range-slider .range-slider__range {
  background: #02b290 !important;
}

.range-slider .range-slider__thumb {
  background: #02b290 !important;
  width: 12px !important;
  height: 12px !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}