@import "tailwindcss";

@theme {
  --color-primary: #02B290;   /* Removed quotes */
  --color-secondary: #353535; /* Removed quotes */
}

.container {
  width: 96%;
  margin: auto;
}

.swiper-button-prev, .swiper-button-next {
    width: 40px !important;
    height: 40px !important;
    background-color: #fff;
    border-radius: 20px;
    padding: 8px;
    color: #02B290;
}
.swiper-button-prev:hover, .swiper-button-next:hover{@apply !bg-primary}
.swiper-button-prev:hover svg, .swiper-button-next:hover svg{color: #fff !important}
